@import url("https://unpkg.com/@icon/icofont/icofont.css");
@import "tailwindcss";

:root {
  --background: #f3f2ef;
  --foreground: #171717;
  --accent: #0a66c2;
  --accent-light: #0070df;
  --card-border: #e9e8e5;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-accent: var(--accent);
  --color-accent-light: var(--accent-light);
  --color-card: var(--card-border);

  --text-shadow-sm: 0 1px 2px var(--tw-shadow-color);
  --text-shadow-md: 0 2px 4px var(--tw-shadow-color);
  --text-shadow-lg: 0 2px 12px var(--tw-shadow-color);

  --shadow-card:
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px, rgba(0, 0, 0, 0.3) 0px 4px 4px 0px;

  --animate-initial-star: initial-star 1s linear;
  --animate-star: star 1s linear infinite;
  --animate-initial-meteor: initial-meteor 1s linear;
  --animate-meteor: meteor 1s linear infinite;
  --animate-enlight: enlight 1s linear;

  @keyframes initial-star {
    0% {
      visibility: hidden;
    }
    0.1% {
      visibility: visible;
    }
    100% {
      transform: translateY(-100vh);
    }
  }

  @keyframes star {
    0%,
    100% {
      transform: translateY(-200vh);
    }
  }

  @keyframes initial-meteor {
    0% {
      visibility: hidden;
    }
    0.1% {
      visibility: visible;
    }
    100% {
      transform: translateY(100vh) translateX(-100vw);
    }
  }

  @keyframes meteor {
    0%,
    100% {
      transform: translateY(200vh) translateX(-200vw);
    }
  }

  @keyframes zoom-out {
    0% {
      transform: scale(1.8);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  @keyframes enlight {
    0% {
      width: 0;
      border-right: 2px solid #ffcc00;
    }
    200% {
      width: 100%;
      border-right: none;
    }
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .clip-img {
    clip-path: polygon(0 9%, 100% 0, 100% 94%, 0% 100%);
  }
}
