@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .clip-img {
    clip-path: polygon(0 9%, 100% 0, 100% 94%, 0% 100%);
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.star,
.meteor {
  position: absolute;
  left: var(--bg-animation-item-pos-X);
  top: var(--bg-animation-item-pos-Y);
  font-size: var(--bg-animation-item-size);
  opacity: var(--bg-animation-item-opacity);
}

.animate-initial-star,
.animate-initial-meteor {
  visibility: hidden;
}

.animate-initial-star,
.animate-star,
.animate-initial-meteor,
.animate-meteor {
  animation-duration: var(--bg-animation-duration);
}
